img {
  height: 430px;
  margin: 0 20px 20px 0;
  float: left;
}

section.book {
  margin: 100px;
  background-color: none;
  font-family: garamond;
  color: #053225;
  font-size: 1.5em;
}

section.book article.review {
  width: 500px;
  padding: 0 100px 100px 0;
  float:left;
  font-size: .8em;
}
